<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a routerLink=""><b>Glass</b>DOOR</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Please Enter your New Password!</p>
  
        <form (submit)="resetPassword(resetForm)" #resetForm="ngForm">
          <div class="form-group has-feedback has-error" [ngClass]="{'has-error': resetForm.value.password != resetForm.value.confirmPassword && resetForm.submitted}">
            <input type="password" class="form-control" name="password" ngModel placeholder="New Password" minlength="8" #password="ngModel" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback has-error" [ngClass]="{'has-error': resetForm.value.password != resetForm.value.confirmPassword && resetForm.submitted}">
            <input type="password" class="form-control" name="confirmPassword" ngModel placeholder="Confirm Password" #confirmPassword="ngModel" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <p class="help-block" *ngIf="resetForm.value.password != resetForm.value.confirmPassword && resetForm.submitted">Password must Match!</p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
            </div>
          </div>
        </form><br>
      </div>
    </div>
  </body>