<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink=""><b>Glass</b>DOOR</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Please Enter your New Password!</p>

      <form (submit)="resetPassword(resetForm)" #resetForm="ngForm">
        <div class="form-group">
          {{errorMessage}}
          <input type="password" class="form-control" name="password" ngModel placeholder="New Password" minlength="8"
            #password="ngModel" [ngClass]="{ 'is-invalid': resetForm.submitted && password.invalid }" required>
          <div *ngIf="resetForm.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">password is required</div>
            <div *ngIf="password.errors.minlength">password must be atleast 8 characters</div>
          </div>
        </div>
        <div class="form-group" >
           
          <input type="password" class="form-control" name="confirmPassword" ngModel placeholder="Confirm Password" #confirmPassword="ngModel" [ngClass]="{'is-invalid': resetForm.submitted && confirmPassword.invalid}" required/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="resetForm.submitted && confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.required"> confirm password is required</div>
            </div>
            <span class="invalid-feedback" *ngIf="error">  Password must match </span>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
          </div>
        </div>

      </form><br>
    </div>
  </div>
</body>