<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Interview
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Manage</a></li>
      <li class="active">Interview</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Responsive Hover Table</h3>

            
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Experience</th>
                <th>Method</th>
                <th>Interview Month</th>
                <th>Interview Year</th>
                <th>Interview Location</th>
                <th>IQ Test</th>
                <th>Presentation</th>
                <th>Offer</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              <tr *ngFor="let value of interviews">
                <td> {{value.employer.name}} </td>
                <td> {{value.employer.email}} </td>
                <td> {{value.jobTitle}} </td>
                <td> {{value.overallExperience}} </td>
                <td> {{value.method}} </td>
                <td> {{value.interviewMonth}} </td>
                <td> {{value.interviewYear}} </td>
                <td> {{value.interviewLocation}} </td>
                <td> {{value.isIQTest}} </td>
                <td> {{value.isPresentation}} </td>
                <td> {{value.receivedOffer}} </td>
                <td>
                  <i class=" btn btn-info glyphicon glyphicon-edit" data-toggle="modal"
                  data-target="#myModal"></i>
                </td>
                <td>
                  <i (click)="delete()" class="btn btn-danger glyphicon glyphicon-trash"></i>
                </td>
              </tr>
            </table>

            <!-- pagination -->
            <div class="row">
                <div class="col-sm-offset-8 col-sm-4">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination">
                      <li class="paginate_button previous disabled" id="example2_previous">
                        <a (click)="prePageButton()" style="cursor:pointer">
                          Previous
                        </a>
                      </li>
                      <li *ngFor="let item of totalNumbers" [ngClass]="{'active': item == page}">
                        <a (click)="nextPage(item)" style="cursor:pointer">{{item}}</a>
                      </li>
                      <li class="paginate_button next" id="example2_next">
                        <a (click)="nextPageButton()" style="cursor:pointer">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit User</h4>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover">
                      <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Reason</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-done="modal">Done</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>