<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Review 
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Manage</a></li>
        <li class="active">Review</li>
      </ol>
    </section>
  
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Responsive Hover Table</h3>
  
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Job Type</th>
                  <th>Job Title</th>
                  <th>Rating</th>
                  <th>Review Title</th>
                  <th>Pros</th>
                  <th>Cons</th>
                  <th>Dauration</th>
                  <th>Location</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                <tr *ngFor="let value of employerReviews">
                  <td> {{value.employer.name}} </td>
                  <td> {{value.employer.email}} </td>
                  <td> {{value.jobType}} </td>
                  <td> {{value.jobTitle}} </td>
                  <td> {{value.rating}} </td>
                  <td> {{value.reviewTitle}} </td>
                  <td> {{value.pros}} </td>
                  <td> {{value.cons}} </td>
                  <td> {{value.lengthOfEmployment}} </td>
                  <td> {{value.location}} </td>
                  <td>
                      <i class=" btn btn-info glyphicon glyphicon-edit" data-toggle="modal"
                      data-target="#myModal"></i>
                    </td>
                  <td>
                    <i (click)="delete()" class="btn btn-danger glyphicon glyphicon-trash"></i>
                  </td>
                </tr>
              </table>

            <!-- pagination -->
            <div class="row">
                <div class="col-sm-offset-8 col-sm-4">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination">
                      <li class="paginate_button previous disabled" id="example2_previous">
                        <a (click)="prePageButton()" style="cursor:pointer">
                          Previous
                        </a>
                      </li>
                      <li *ngFor="let item of totalNumbers" [ngClass]="{'active': item == page}">
                        <a (click)="nextPage(item)" style="cursor:pointer">{{item}}</a>
                      </li>
                      <li class="paginate_button next" id="example2_next">
                        <a (click)="nextPageButton()" style="cursor:pointer">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Review</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
                      </div>
                      <div class="form-group">
                          <input type="jobType" class="form-control" name="jobType" placeholder="Enter Your Job Type">
                      </div>
                      <div class="form-group">
                          <input type="jobTitle" class="form-control" name="jobTitle" placeholder="Enter Your Job Title">
                      </div>
                      <div class="form-group">
                          <input type="rating" class="form-control" name="rating" placeholder="Enter Rating">
                      </div>
                      <div class="form-group">
                          <input type="review" class="form-control" name="review" placeholder="Enter Your Review">
                      </div>
                      <div class="form-group">
                          <input type="pros" class="form-control" name="pros" placeholder="Enter Pros">
                      </div>
                      <div class="form-group">
                          <input type="cons" class="form-control" name="cons" placeholder="Enter Cons">
                      </div>
                      <div class="form-group">
                          <input type="dauration" class="form-control" name="dauration" placeholder="Enter Your Dauration">
                      </div>
                      <div class="form-group">
                          <input type="location" class="form-control" name="location" placeholder="Enter Your Location">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-done="modal">Done</button>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>